body{
    background-color: #2b293d;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.arrow {
  background-color: rgba(67, 23, 54, 0.313); 
  color: white;             /* White border */
  padding: 5px;
  font-size: 15px;
  border: none;
  border-radius: 15px;       /* Rounded corners */
  transition: 100ms;
  font-size: 20px;
  text-decoration: none;
}

.arrow:hover {
  background-color: #907082ad; 
} 