body{
    background-color: #2b293d;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40%;
}

.arrow {
  background-color: rgba(67, 23, 54, 0.313); 
  color: white;             /* White border */
  padding: 8px;
  font-size: 15px;
  border: none;
  border-radius: 15px;       /* Rounded corners */
  transition: 400ms;
  margin-top: -155px;
  margin-right: 350px;
  font-size: 20px;
}

.arrow:hover {
  background-color: #907082; 
} 